/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

.footer-main
  padding: 40px 20px
  border-top: 1px solid $border-color
  font-family: $font-family-quicksand
  font-weight: $font-weight-semibold
  font-size: $font-size-smaller
  text-align: center
  color: $gray

  .nav-item
    margin: 0 10px 10px
    display: inline-block

  .logo-ampersand-gray
    width: 17px
    height: 20px
    margin-top: 10px
    display: inline-block
    text-indent: -9999em
    background-size: 17px auto
