/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

.hero
  text-align: center
  padding: 0 20px

  h1
    max-width: 700px
    margin: 0 auto 70px
