/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

//- Font families

$font-family-quicksand = 'Quicksand', Helvetica, Arial, sans-serif
$font-family-georgia = Georgia, Times, serif

//- Font sizes and weights

$font-size-large = 1.125em
$font-size-copy = 1.1em
$font-size-base = 1em
$font-size-small = .95em
$font-size-smaller = .85em

$font-size-h1 = 1.6em
$font-size-h2 = 1.4em
$font-size-h3 = 1.2em
$font-size-h4 = 1.1em
$font-size-h5 = 1em
$font-size-h6 = .875em

$line-height-base = 1.65
$line-height-headings = 1.4

$font-weight-normal = 400
$font-weight-semibold = 500
$font-weight-bold = 700
