doctype
html(lang="en")

  //- Variable block for page-specific info
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Ampersand.js, Javascript, ampersand, Node.js, Apps, HTML5")
    //-=meta(name="author", contentFLF"#{description}")

    title Amp.js

    link(rel="stylesheet", href="//cloud.typography.com/7773252/613684/css/fonts.css")
    link(rel="stylesheet", href="/amp/documentation/public/css/normalize.min.css")
    link(rel="stylesheet", href="/amp/documentation/public/css/main.css")

    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      _gs('GSN-375569-B', false);
      _gs('set', 'cookieDomain', '.ampersandjs.com');
      _gs('track');
  body(class="#{bodyClass}")

    nav.nav-main.cf
      a.logo.logo-ampersand(href="/") Amp

    block content

    footer.footer-main
      nav.nav-footer
        a.nav-item(href="/contribute") Contribute
        a.nav-item(href="https://github.com/ampersandjs") Github
        a.nav-item(href="https://twitter.com/ampersandjs") Twitter
      p Sponsored by 
        a(href="https://andyet.com") &amp;yet 
        br
        | with the help of our 
        a(href="/contribute") contributors
      a.logo.logo-ampersand-gray(href="/") &amp;

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44685415-1', 'humanjavascript.com');
      ga('send', 'pageview');

    script(src='/amp/documentation/public/js/highlight.pack.js')

    script.
      hljs.configure({classPrefix: ''});
      hljs.initHighlightingOnLoad();

