/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

button
  border: none

.button, a.button, .toggle
  display: inline-block
  border-radius: 3px
  margin-top: 15px
  padding: 6px 15px
  font-family: $font-family-quicksand
  font-size: $font-size-base
  font-weight: $font-weight-bold
  text-align: center
  line-height: 1.5
  user-select()
  cursor: pointer
  -webkit-appearance: none
  transition: all .3s ease-in 
  -webkit-transition: all .3s ease-in
  background-color: lighten($blue-saturated-lighter, 85%)
  color: $blue-saturated

  &:hover
    background-color: lighten($blue-saturated-lighter, 65%)

  &:disabled, &.button-disabled
    cursor: not-allowed
    color: lighten($blue-saturated-lighter, 40%)
    background-color: lighten($blue-saturated-lighter, 85%)

  &:focus
    outline: none
    
  &.button-small
    padding: 3px 8px
    font-size: $font-size-small

  &.button-large
    padding: 10px 20px
    font-size: $font-size-large

  &.button-primary, &.button-secondary, 
  &.button-primary:hover, &.button-secondary:hover
    color: white

  &.button-primary
    background-color: $pink

    &:hover
      background-color: darken($pink, 10%)

    &:disabled, .button-disabled
      background-color: $pink-light

  &.button-secondary
    background-color: $blue

    &:hover
      background-color: darken($blue, 10%)

    &:disabled, .button-disabled
      background-color: $blue-light

.button + .button
  margin-left: 7px
  margin-right: 7px
