/*--------------------------------------------------------------------
*
* MODULE CARDS
*
--------------------------------------------------------------------*/

.module-card
  padding: 15px
  margin-bottom: 20px
  border: 1px dotted $gray-lighter
  border-radius: 3px
  text-align: left

  .module-name
    margin: 0
    font-family: $font-family-gotham-round

  .module-version, .module-author
    margin-top: 0
    font-style: italic
    font-size: $font-size-smaller

  .module-description
    font-size: $font-size-smaller

  .module-links
    margin-bottom: 0
    font-size: $font-size-base

    a
      display: inline-block

      &:not(:first-child)
        padding-left: 6px
      &:not(:last-child)
        padding-right: 6px
        border-right: 1px solid $gray-lighter